/* Header CSS */

.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.headLogo {
    width: 100px;
    object-fit: contain;
    margin: 0px 20px;
    margin-top: 18px;
}

.headerSearch {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.headerSearchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.headerSearchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #febd69;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.headerNav {
    display: flex;
    justify-content: space-evenly;
}

.headerOption {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.OptionLineOne {
    font-size: 10px;
}

.OptionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.headerCart {
    display: flex;
    align-items: center;
    color: white;
}

.headerCartCount {
    margin-left: 10px;
    margin-right: 10px;
}

/* Home CSS */
.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.homeImage {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.homeRow {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

/* Product CSS */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.productInfo {
    height: 100px;
    margin-bottom: 15px;
}

.productPrice {
    margin-top: 5px;
}

.productRating {
    display: flex;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background: #FFD814;
    border: 1px solid;
    margin-top: 10px;
    border-color: #FCD200;
    color: #111;
    border-radius: 5px;
}

